.title {
  color: white;
  background-image: url("images/nature1.jpg");
  background-size: 68% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  font-family: 'Fjalla One', sans-serif;
}

.clear {
    clear: both;
    padding: 10px;
    margin: 10px;
}

.title-left {
  display: inline-block;
  text-shadow: 2px 2px 3px black;
  text-align: left;
  margin-left: 17%;
  margin-right: 17%;
  padding-left: 1em;
  }

.title-right {
  font-size: 1em;
  display: inline-block;
  text-align: right;
  margin-left: 18%;
  margin-right: 10%;
}

.rapture {
  display: block;
  width: 66%;
  height: 100%;
  margin: auto;
  max-width: 1000px;
}

.adventure {
  text-align: center;
  font-size: 2em;
  padding-top: 5%;
  padding-bottom: 5%;
}

.bio {
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  font-size: 1em;
}


.body-img {
  display: block;
  padding-bottom: 5%;
  width: 90%;
  height: 100%;
  margin: auto;
  max-width: 1000px;
}



.book-now {
  display: inline-block;
  text-align: center;
  width: 200px;
  height: 5%;
  box-shadow: 1px 1px 1px 1px grey;
background: rgba(76,76,76,1);
background: -moz-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(76,76,76,1)), color-stop(12%, rgba(89,89,89,1)), color-stop(25%, rgba(102,102,102,1)), color-stop(39%, rgba(71,71,71,1)), color-stop(50%, rgba(44,44,44,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(60%, rgba(17,17,17,1)), color-stop(76%, rgba(43,43,43,1)), color-stop(91%, rgba(28,28,28,1)), color-stop(100%, rgba(19,19,19,1)));
background: -webkit-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -o-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: -ms-linear-gradient(left, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
background: linear-gradient(to right, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313', GradientType=1 );}

ul.gallery-content {
  width: 100%;
  margin: auto;
  width: 100%;
}

ul.gallery-content li {
  font-size: 15px;
  list-style: none;
  width: 200px;
  height: 150px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
  border: 5px solid black;
}

.copyright {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
}

















a {
    color: white;
    text-decoration: none;
  }

a:hover {
    color: blue;
}

a:active {
    background-color: blue;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}


ul.my-nav {
  width: 66%;
  height: 30px;
  border-radius: 10px;
  background-color: black;
  margin: auto;
  max-width: 1000px;
}

ul.my-nav li {
  width: 15%;
  float: left;
  list-style: none;
  margin-right: 20px;
  color: white;
  padding-top: 5px;
}



/* iPhone */
@media (max-width: 320px) {
  ul.my-nav {
    background-color: black;
    width:100%;
    margin: 0;
    padding: 0;
  }

  ul.my-nav li {
    width: 100%;
    float: none;
    background-color: black;
    text-align: center;
    padding: 10px 0;

  }
}
